* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 88vh;
    background-color: #000000;
    color: #9ad79b;
  }

  header {
    border: 1px dashed #9ad79b;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
  }

  main {
    position: relative;
    padding: 20px;
    margin-top: 100px;
    border: 1px dashed #9ad79b;
  }

  main > .introduction {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #9ad79b;
  }
  
  .sidebar {
    position: absolute;
    right: 20px;
    top: 270px;
    border: 1px dashed #9ad79b;
    padding: 20px;
  }

  #features {
    position: relative;
    margin-top: 30vh;
    padding: 20px;
    text-align: center;
    border: 1px dashed #9ad79b;
  }
  
  
  footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    border: 1px dashed #9ad79b;
    padding: 20px;
  }
  
  
  
